@tailwind base;
@tailwind components;
@tailwind utilities;


.bg {
    background: rgba(97, 97, 97, 0.82);
    border-radius: 27px;
}

.bg2 {
    width: 149px;
    height: 62px;
    background: #171717;
    box-shadow: inset 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.bgL {
    width: 720px;
    height: 316px;
    background: #363C43;
    box-shadow: 5.67px 5.67px 3.78px rgba(0, 0, 0, 0.4);
    border-radius: 18.8904px;
}

.modal-box {
    background: #363C43;
    box-shadow: 5.67px 5.67px 3.78px rgba(0, 0, 0, 0.4);
    border-radius: 18.8904px;
    color: #FFFFFF;
}

.hr {
    width: 612px;
    height: 4px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, rgba(40, 40, 40, 0.1) 0%, rgba(248, 248, 248, 0.1) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(4.91866px);
    border-radius: 2.45933px;
}

.tabBox-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px;
    gap: 6px;
    isolation: isolate;
    width: 597px;
    height: 49px;
    background: #171717;
    box-shadow: inset 0px 4.96001px 12.4px 2.48px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
}

.tab-active {
    width: 195px;
    height: 45px;
    transition: .4s;
    background: #28292F;
    box-shadow: -8.43333px -16.8667px 50.6px -16.8667px #485B71, 13.4933px 16.8667px 67.4667px 8.43333px #0A0A0A;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.centerP {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 25px;
    transform: translate(-50%, -50%);
}

.centerR {
    margin: 0;
    position: absolute;
    top: 60%;
    right: 0px;
    transform: translate(-50%, -50%)
}

.btn-Content {
    width: 45px;
    height: 45px;
    background: linear-gradient(139.14deg, #303439 12.4%, #161718 94.96%);
    box-shadow: -5px -3px 30px -10px #96BEE7, 4px 5px 30px 5px #101213;
}

.btn-content2 {
    width: 131.32px;
    height: 46px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: -0.5px -0.5px 6.9px rgba(255, 255, 255, 0.25), 9px 10px 7.1px rgba(0, 0, 0, 0.4), inset 0px 0px 48.9064px rgba(255, 255, 255, 0.05), inset 0px 3.26043px 3.26043px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(52.28px);
    border-radius: 104px;
}

.modal {
    scrollbar-gutter: 0px !important;
}